[Unit]
Description=Trojan
Documentation=https://trojan-gfw.github.io/trojan/
[Service]
Type=simple
ExecStart=/usr/local/bin/trojan -c /etc/trojan/config.json -l /var/log/trojan.log
Type=simple
KillMode=process
Restart=no
RestartSec=42s
[Install]
WantedBy=multi-user.target
